<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Descubre Perú App</title>
        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/admin.css">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

    <div id="app">
          <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Perfil</a></li>
              <li class="divider"></li>
              <li><a href="login.html">Cerrar Sesión</a></li>
            </ul>
          <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo" style="margin-left: 20px;">Descubre Perú</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Bienvenido Operador<i class="material-icons right">account_circle</i><i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                    
              </ul>
            </div>
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1" class="active">Proveedores</a></li>
                <li class="tab"><a href="#test2">Servicios</a></li>
                <li class="tab"><a href="#test3">Paquetes</a></li>
                <li class="tab"><a href="#test4">Turistas</a></li>
                <li class="tab"><a href="#test5">Lugares Turístico</a></li>
              </ul>
            </div>
          </nav>

          <!-- Proveedores -->
          <div id="test1" class="col s12">
            <div class="container">
                <div class="row">
                    <section class="footerTabs">
                        <a class="waves-effect waves-light btn" href="#modal2"><i class="material-icons left">person_add</i>Crear</a>

                        <!-- Modal crear proveedor -->

                        <div id="modal2" class="modal">
                            <div class="modal-content">
                              <h5 style="text-align: center;">Registrar Proveedor</h5>
                              <form class="col l12" >
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                      <input id="rz_social" type="text" class="validate" v-model="entityProv.razon_social">
                                      <label for="rz_social">Razón Social</label>
                                    </div>
                                    <div class="input-field col l5">
                                      <input id="ruc" type="text" class="validate" v-model="entityProv.ruc">
                                      <label for="ruc">RUC</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l4">
                                      <input id="direccion" type="text" class="validate" v-model="entityProv.prov_direccion">
                                      <label for="direccion">Dirección</label>
                                    </div>
                                    <div class="input-field col l3">
                                      <input id="ciudad" type="text" class="validate" v-model="entityProv.prov_ciudad">
                                      <label for="ciudad">Ciudad</label>
                                    </div>
                                    <div class="input-field col l3">
                                      <input id="pais" type="text" class="validate" v-model="entityProv.prov_pais">
                                      <label for="pais">País</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l3">
                                      <input id="phone" type="text" class="validate" v-model="entityProv.prov_telefono">
                                      <label for="phone">Teléfono</label>
                                    </div>
                                    <div class="input-field col l4">
                                      <input id="correo" type="email" class="validate" v-model="entityProv.prov_correo">
                                      <label for="correo" data-error="wrong" data-success="right">Correo Electrónico</label>
                                    </div>
                                    <div class="input-field col l3">
                                      <input id="rpte" type="text" class="validate" v-model="entityProv.representante_legal">
                                      <label for="rpte">Representante</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                              </form>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="addProveedor" >Guardar</a>
                            </div>
                        </div>

                        <a class="waves-effect waves-light btn" href="#modal1"><i class="material-icons left">thumb_up</i>Confirmar</a>

                        <!-- Modal confirmar proveedor -->

                        <div id="modal1" class="modal">
                            <div class="modal-content">
                              <h4 style="text-align: center;">Proveedores Solicitantes</h4>
                              <form>
                                <div class="input-field">
                                  <input id="search" type="search" required>
                                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                  <i class="material-icons">close</i>
                                </div>
                              </form>
                              <div class="row">
                                <article class="mainModal col-lg-12" >
                                    <div class="col-lg-12">
                                        <label class="idprov col l1" style="text-decoration: #000;">ID</label>
                                        <label class="rz col l3" style="text-decoration: #000;">Razón Social</label>
                                        <label class="ruc col l2" style="text-decoration: #000;">RUC</label>
                                        <label class="rpt col l3" style="text-decoration: #000;">Representante</label>
                                        <label class="rpt col l3" style="text-decoration: #000;">Aprobar</label>
                                    </div>

                                    <div class="line-view"></div>

                                    <div class="row item"  >
                                        <label class="idprov col l1" >ID</label>
                                        <label class="rz col l3" >Razón Social</label>
                                        <label class="ruc col l2" >RUC</label>
                                        <label class="rpt col l3" >Representante</label> 
                                        <div class="switch">
                                            <label>
                                              <input type="checkbox">
                                              <span class="lever"></span>
                                            </label>
                                        </div>
                            
                                    </div>
                                </article>
                            </div>
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                            </div>
                        </div>
          
<!--                        <a class="waves-effect waves-light btn">Exportar</a>-->
                    </section>
                </div>
                <div class="row">
                    <article class="main col-lg-12" >
                        <div class="col-lg-12">
                            <label class="idprov col l1" style="text-decoration: #000;">ID</label>
                            <label class="rz col l2" style="text-decoration: #000;">Razón Social</label>
                            <label class="ruc col l1" style="text-decoration: #000;">RUC</label>
                            <label class="dir col l2" style="text-decoration: #000;">Dirección</label>
                            <label class="city col l1" style="text-decoration: #000;">Ciudad</label>
                            <label class="phone col l1" style="text-decoration: #000;">Teléfono</label>
                            <label class="email col l1" style="text-decoration: #000;">Correo</label>
                            <label class="rpt col l2" style="text-decoration: #000;">Representante</label>
                        </div>

                        <div class="line-view"></div>

                        <div class="row item" v-for="proveedor in proveedors" >
                            <label class="idprov col l1" >{{proveedor.id}}</label>
                            <label class="rz col l2" >{{proveedor.business_name}}</label>
                            <label class="ruc col l1" >{{proveedor.ruc}}</label>
                            <label class="dir col l2" >{{proveedor.address}}</label>
                            <label class="city col l1" >{{proveedor.city}}</label>
                            <label class="phone col l1" >{{proveedor.country}}</label>
                            <label class="email col l1" >{{proveedor.email}}</label>
                            <label class="rpt col l2" >{{proveedor.representative}}</label> 
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">create</i></a> 
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">delete</i></a> 
                
                        </div>
                    </article>
                </div>
            </div>
          </div>

          <!-- Servicios --> 

          <div id="test2" class="col s12">
              <div class="container">
                <div class="row">
                    <section class="footerTabs">
                        <a class="waves-effect waves-light btn" href="#modal3"><i class="material-icons left">add_circle</i>Crear</a>

                        <!-- Modal crear servicio -->

                        <div id="modal3" class="modal">
                            <div class="modal-content">
                              <h5 style="text-align: center;">Registrar Servicio</h5>
                              <form class="col l12">
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input id="nombre" type="text" class="validate" v-model="entityServ.serv_nombre">
                                      <label for="nombre">Nombre</label>
                                    </div>
                                    <div class="input-field col l5">
                                      <input id="tipo" type="text" class="validate" v-model="entityServ.serv_tipo">
                                      <label for="tipo">Tipo</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l10">
                                      <input id="description" type="text" class="validate" v-model="entityServ.serv_descripcion">
                                      <label for="description">Descripción</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                        <select>
                                          <option value="" disabled selected>Lugar Turístico</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select v-model="entityServ.lugartur_id">
                                      </div>
                                    <div class="input-field col l5">
                                        <select>
                                          <option value="" disabled selected>Proveedor</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select v-model="entityServ.prov_id">
    
                                      </div>
                                    <div class="col l1"></div>
                                </div>
                              </form>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="addServicio" >Guardar</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <article class="main col-lg-12" >
                        <div class="col-lg-12">
                            <label class="idser col l1" style="text-decoration: #000;">ID</label>
                            <label class="name col l2" style="text-decoration: #000;">Nombre</label>
                            <label class="tipo col l1" style="text-decoration: #000;">Tipo</label>
                            <label class="des col l3" style="text-decoration: #000;">Descripción</label>
                            <label class="place col l2" style="text-decoration: #000;">Lugar Turístico</label>
                            <label class="prov col l2" style="text-decoration: #000;">Proveedor</label>
                        </div>

                        <div class="line-view"></div>

                        <div class="row item" v-for="service in services">

                            <label class="idser col l1" style="text-decoration: #000;">{{service.id}}</label>
                            <label class="name col l2" style="text-decoration: #000;">{{service.title}}</label>
                            <label class="tipo col l1" style="text-decoration: #000;">{{service.type_service_id}}</label>
                            <label class="des col l3" style="text-decoration: #000;">{{service.description}}</label>
                            <label class="place col l2" style="text-decoration: #000;">Lugar Turístico</label>
                            <label class="prov col l2" style="text-decoration: #000;">Proveedor</label>
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">create</i></a> 
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">delete</i></a> 
                
                        </div>
                    </article>
                </div>
              </div>

          </div>

          <!-- Paquetes --> 
          <div id="test3" class="col s12">
              
               <div class="container">
                <div class="row">
                    <section class="footerTabs">
                        <a class="waves-effect waves-light btn" href="#modal4"><i class="material-icons left">add_circle</i>Crear</a>

                        <!-- Modal crear paquete -->

                        <div id="modal4" class="modal">
                            <div class="modal-content">
                              <h5 style="text-align: center;">Registrar Paquete</h5>
                              <form class="col l12">
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l7">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input id="nombre" type="text" class="validate">
                                      <label for="nombre">Nombre</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l10">
                                      <input id="description" type="text" class="validate">
                                      <label for="description">Descripción</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input id="duration" type="text" class="validate">
                                      <label for="duration">Duración</label>
                                    </div>
                                    <div class="input-field col l5">
                                        <select>
                                          <option value="" disabled selected>Lugar Turístico</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select>
                                      </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                        <select>
                                          <option value="" disabled selected>Proveedor</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="col l5">
                                        <label>Fecha de Inicio</label>
                                         <input type="date" class="datepicker">
                                    </div>
                                    <div class="col l5">
                                        <label>Fecha de Final</label>
                                        <input type="date" class="datepicker">
                                    </div>
                                </div>
                              </form>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <article class="main col-lg-12" >
                        <div class="col-lg-12">
                            <label class="idser col l1" style="text-decoration: #000;">ID</label>
                            <label class="name col l1" style="text-decoration: #000;">Nombre</label>
                            <label class="des col l2" style="text-decoration: #000;">Descripción</label>
                            <label class="place col l2" style="text-decoration: #000;">Lugar Turístico</label>
                            <label class="dur col l1" style="text-decoration: #000;">Duración</label>
                            <label class="dateInit col l1" style="text-decoration: #000;">Inicio</label>
                            <label class="dateEnd col l1" style="text-decoration: #000;">Final</label>
                            <label class="provd col l1" style="text-decoration: #000;">Proveedor</label>
                            <label class="detServ col l1" style="text-decoration: #000;">Servicios</label>
                        </div>

                        <div class="line-view"></div>

                        <div class="row item" v-for="paquete in paquetes">
                             <label class="idser col l1" style="text-decoration: #000;">{{paquete.id}}</label>
                            <label class="name col l1" style="text-decoration: #000;">{{paquete.title}}</label>
                            <label class="des col l2" style="text-decoration: #000;">{{paquete.description}}</label>
                            <label class="place col l2" style="text-decoration: #000;">{{paquete.place_id}}</label>
                            <label class="dur col l1" style="text-decoration: #000;">{{paquete.duration}}</label>
                            <label class="dateInit col l1" style="text-decoration: #000;">{{paquete.init_date}}</label>
                            <label class="dateEnd col l1" style="text-decoration: #000;">{{paquete.end_date}}</label>
                            <label class="provd col l1" style="text-decoration: #000;">{{paquete.prov_id}}</label>
                            <label class="detServ col l1" style="text-decoration: #000;">
                                <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">attach_file</i></a> 
                            </label>
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">create</i></a> 
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">delete</i></a> 
                
                        </div>
                    </article>
                </div>
              </div>

          </div>

          <!-- Turistas -->
          <div id="test4" class="col s12">
              
                <div class="container">
                    <div class="row">
                        <section class="footerTabs">
                            <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Exportar</a>

                        </section>
                    </div>
                    <div class="row">
                        <article class="main col-lg-12" >
                            <div class="col-lg-12">
                                <label class="idtur col l1" style="text-decoration: #000;">ID</label>
                                <label class="name col l1" style="text-decoration: #000;">Nombre</label>
                                <label class="lastape col l2" style="text-decoration: #000;">Apellidos</label>
                                <label class="tdoc col l1" style="text-decoration: #000;">Tipo de Doc.</label>
                                <label class="ndoc col l1" style="text-decoration: #000;">Nro Doc.</label>
                                <label class="ciudad col l1" style="text-decoration: #000;">Ciudad</label>
                                <label class="pais col l1" style="text-decoration: #000;">País</label>
                                <label class="nac col l1" style="text-decoration: #000;">F. Nac.</label>
                                <label class="correo col l1" style="text-decoration: #000;">Correo</label>
                                <label class="phon col l1" style="text-decoration: #000;">Teléfono</label>
                            </div>

                            <div class="line-view"></div>

                            <div class="row item" v-for="turista in turistas">
                                <label class="idtur col l1" style="text-decoration: #000;">{{turista.id}}</label>
                                <label class="name col l1" style="text-decoration: #000;">{{turista.name}}</label>
                                <label class="lastape col l2" style="text-decoration: #000;">{{turista.lastname}}</label>
                                <label class="tdoc col l1" style="text-decoration: #000;">{{turista.document_type}}</label>
                                <label class="ndoc col l1" style="text-decoration: #000;">{{turista.document_number}}</label>
                                <label class="ciudad col l1" style="text-decoration: #000;">{{turista.city}}</label>
                                <label class="pais col l1" style="text-decoration: #000;">{{turista.country}}</label>
                                <label class="nac col l1" style="text-decoration: #000;">{{turista.birth_date}}</label>
                                <label class="correo col l1" style="text-decoration: #000;">{{turista.email}}</label>
                                <label class="phon col l1" style="text-decoration: #000;">{{turista.phone}}</label>
                                <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">delete</i></a> 
                    
                            </div>
                        </article>
                    </div>
              </div>

          </div>

          <!-- Lugar Turístico --> 

          <div id="test5">
              <div class="container">
                <div class="row">
                    <section class="footerTabs">
                        <a class="waves-effect waves-light btn" href="#modalugar"><i class="material-icons left">add_circle</i>Crear</a>

                        <!-- Modal crear lugar turístico -->

                        <div id="modalugar" class="modal">
                            <div class="modal-content">
                              <h5 style="text-align: center;">Registrar Lugar Turístico</h5>
                              <form class="col l12">
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l7">
                                      <input id="nombre" type="text" class="validate">
                                      <label for="nombre">Nombre</label>
                                    </div>
                                    <div class="file-field input-field" style="align-content: center;">
                                      <div class="btn">
                                         <span>Subir Imagen</span>
                                         <input type="file">
                                      </div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l10">
                                      <input id="description" type="text" class="validate">
                                      <label for="description">Descripción</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l6">
                                      <input id="ubigeo" type="text" class="validate">
                                      <label for="ubigeo">Ubicación</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                
                              </form>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <article class="main col-lg-12" >
                        <div class="col-lg-12">
                            <label class="idser col l1" style="text-decoration: #000;">ID</label>
                            <label class="name col l2" style="text-decoration: #000;">Nombre</label>
                            <label class="des col l3" style="text-decoration: #000;">Descripción</label>
                            <label class="place col l2" style="text-decoration: #000;">Ubicación Turístico</label>
                            <label class="dur col l2" style="text-decoration: #000;">Situación Actual</label>
                        </div>

                        <div class="line-view"></div>

                        <div class="row item" v-for="place in places" >
                            <label class="idser col l1" style="text-decoration: #000;">{{place.lugartur_id}}</label>
                            <label class="name col l2" style="text-decoration: #000;">{{place.lugartur_nombre}}</label>
                            <label class="des col l3" style="text-decoration: #000;">{{place.lugartur_descripcion}}</label>
                            <label class="lugar col l2" style="text-decoration: #000;">{{place.lugartur_coordenadas}}</label>
                            <div class="switch col l2">
                                <label><input type="checkbox"><span class="lever"></span></label>
                            </div>
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">create</i></a> 
                            <a class="waves-effect waves-light  btn-delete" @click="removeQuestion(question.key)" ><i class="material-icons left">delete</i></a> 
                
                        </div>
                    </article>
                </div>
              </div>

          </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
        <script src="js/scripts.js"></script>

        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

      <script type="text/javascript">
           $(".button-collapse").sideNav();
           $(document).ready(function(){
            $('.modal').modal({
                 dismissible: false,
                 startingTop: '4%', // Starting top style attribute
                 endingTop: '10%', 
            });
            $('select').material_select();
           
          });
      
      </script>

    </body>
</html>