<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Descubre Perú App</title>
        <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/admin.css">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

    <div id="app">
          <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Perfil</a></li>
              <li class="divider"></li>
              <li><a href="login.html">Cerrar Sesión</a></li>
            </ul>
          <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo" style="margin-left: 20px;">Descubre Perú</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Bienvenido Operador<i class="material-icons right">account_circle</i><i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                    
              </ul>
            </div>
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1" class="active">Ventas</a></li>
              </ul>
            </div>
          </nav>


          <!-- Servicios --> 

          <div id="test2" class="col s12">
              <div class="container">
                <div class="row">
                    <section class="footerTabs">

                        <!-- Modal crear servicio -->

                        <div id="modal3" class="modal">
                            <div class="modal-content">
                              <h5 style="text-align: center;">Registrar Servicio</h5>
                              <form class="col l12">
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l5">
                                      <i class="material-icons prefix">account_circle</i>
                                      <input id="nombre" type="text" class="validate" v-model="entityServ.title">
                                      <label for="nombre">Nombre</label>
                                    </div>
                                    <div class="input-field col l5">
                                      <input id="tipo" type="text" class="validate" v-model="entityServ.type_service_id">
                                      <label for="tipo">Tipo</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>	
                                <div class="row">
                                    <div class="col l1"></div>
                                    <div class="input-field col l10">
                                      <input id="description" type="text" class="validate" v-model="entityServ.description">
                                      <label for="description">Descripción</label>
                                    </div>
                                    <div class="col l1"></div>
                                </div>
                                <div class="row">
                                    <div class="col l1" ></div>
                                    <div class="input-field col l5">
                                        <select v-model="entityServ.place_id">
                                          <option value=""  selected>Lugar Turístico</option>
                                          <option v-for="place in places" v-bind:value="place.id">{{place.name}}</option>
                                        </select>
                                    </div>
                                    <div class="input-field col l5">
                                        <select v-model="entityServ.supplier_id">
                                          <option value=""  selected>Proveedor</option>
                                          <option v-for="proveedor in proveedors" v-bind:value="proveedor.id">{{proveedor.bussines_name}}</option>
                                        </select>
                                      </div>
                                    <div class="col l1"></div>
                                </div>
                              </form>
                              
                            </div>
                            <div class="modal-footer">
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="addServicio" >Guardar</a>
                            </div>
                        </div>
                        
                       
                <div class="row">
                    <article class="main col-lg-12" >
                        <div class="col-lg-12">
                            <label class="idser col l1" style="text-decoration: #000;">ID</label>
                            <label class="name col l2" style="text-decoration: #000;">Nombre</label>
                            <label class="tipo col l1" style="text-decoration: #000;">Tipo</label>
                            <label class="des col l3" style="text-decoration: #000;">Descripción</label>
                            <label class="place col l2" style="text-decoration: #000;">Lugar Turístico</label>
                            <label class="prov col l2" style="text-decoration: #000;">Proveedor</label>
                        </div>

                        <div class="line-view"></div>

                        <div class="row item" v-for="service in services">

                            <label class="idser col l1" style="text-decoration: #000;">{{service.id}}</label>
                            <label class="name col l2" style="text-decoration: #000;">{{service.title}}</label>
                            <label class="tipo col l1" style="text-decoration: #000;">{{service.type_service_id}}</label>
                            <label class="des col l3" style="text-decoration: #000;">{{service.description}}</label>
                            <label class="place col l2" style="text-decoration: #000;">Lugar Turístico</label>
                            <label class="prov col l2" style="text-decoration: #000;">Proveedor</label>
                            <a class="waves-effect waves-light  btn-delete" href="#modalActuaServ" ><i class="material-icons left">create</i></a> 
                            <a class="waves-effect waves-light  btn-delete" v-on:click="RemoveServicio(service)" ><i class="material-icons left">delete</i></a> 
                
                        </div>
                    </article>
                </div>
              </div>

          </div>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
        <script src="js/scripts.js"></script>

        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

      <script type="text/javascript">
           $(".button-collapse").sideNav();
           $(document).ready(function(){
            $('.modal').modal({
                 dismissible: false,
                 startingTop: '4%', // Starting top style attribute
                 endingTop: '10%', 
            });
            $('select').material_select();
           
          });
      
      </script>

    </body>
</html>