<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Descubre Perú App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/registroProveedor.css">
        
    </head>
    <body>
        <div id="app">
        <div class="container">
            <div class= "card card-container">
                <h2 style="text-align: center;">Registrar Proveedor</h2>
                <form class="col l12">
                <div class="form-signin">
                    <div class="input-field col l5">
                        <label for="rz_social">Razón Social</label>
                        <input id="rz_social" type="text" class="form-control validate" v-model="entityProv.business_name">              
                    </div>    
                    <div class="input-field col l5">
                        <label for="representante">Representante</label>
                        <input id="representante" type="text" class="form-control validate"  v-model="entityServ.representative">
                    </div>
                    <div class="input-field col l5">
                        <label for="ruc">RUC</label>
                        <input id="ruc" type="text" class="form-control validate"  v-model="entityProv.ruc">
                    </div>
                    <div class="input-field col l5">
                        <label for="direccion">Dirección</label>
                         <input id="direccion" type="text" class="form-control validate" v-model="entityProv.address">
                    </div>
                    <div class="form-signin">
                        <label for="pais">País</label>
                       <input id="pais" type="text" class="form-control validate" v-model="entityProv.country">
                    </div>
                    <div class="input-field col l5">
                        <label for="ciudad">Ciudad</label>
                        <input id="ciudad" type="text" class="form-control validate" v-model="entityProv.city">
                    </div>
                    <div class="input-field col l5">
                        <label for="telefono">Teléfono</label>
                        <input id="telefono" type="text" class="form-control validate" v-model="entityProv.phone">
                    </div>
                    <div class="input-field col l5">
                        <label for="correo">Correo Electrónico</label>
                        <input id="correo" type="text" class="form-control validate" v-model="entityProv.email">
                    </div>
                </div>
                </form>

                <section class="footerTabs">
                    <div>
                        <a class="app-boton btn btn-default" v-on:click="addProveedor" href="#modal2">Enviar Solicitud de Registro</a>
                        <a class="app-boton btn btn-default" href="index.html">Cancelar</a>
                    </div>
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h5 style="text-align: center;">Se enviará un mensaje a la dirección de correo registrada para confirmar su solicitud de registro en las próximas 72 horas.</h5>
                            <a class="app-boton btn btn-default" href="index.html">Aceptar</a>
                        </div>
                    </div>
                </section>            
                              
            </div>
        </div>
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="js/scripts.js"></script>
        
        
        </div>
    </body>
</html>